*.obj
*.tlog
*.user
*.filters
src/game/server/hl2mp
src/game/client/Release_Episodic
src/game/client/Debug_Episodic
src/game/server/Release_Episodic
src/game/server/Debug_Episodic
src/Game_Episodic-2005.opensdf
src/Game_Episodic-2005.sdf
src/UpgradeLog.XML
src/_UpgradeReport_Files/
src/common/
src/devtools/
src/dx10sdk/
src/dx9sdk/
src/vgui2
src/utils
src/lib
src/materialsystem
src/tier1
src/mathlib
src/public
src/linux_sdk
src/vmpi
installer/package/maps
installer/package/scenes
installer/package/bin
installer/output